.map-holder{
     background-color: #1C2237;
     padding:100px;
     z-index: -1;
}

.popup{
     font-size: 10px;
     width:200px;
     text-align: center;
}
.map{
     margin:0 auto;
}
.settings{
     margin-top: 30px;
     margin-bottom: 30px;
}
.button{
     height: 50px;
     width:100px;
     border-radius:30px;
     font-size: 15px;
     display: block;
     color:black;
     background-color: rgb(241, 240, 234);
     margin-top: 30px;
     margin-bottom: 30px;
     margin: 0 auto;
}
.the-button{
     color: white;
     font-size: 18px;
     background-color: #1C2237;
     display: block;
     margin: 0 auto;
     margin-top: 10px;
     width:50%;
}
.contents{
     text-align: center;

}
.leaflet-popup{
     font-size: 20px;
}

.Overlay {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: rebeccapurple;
   }

.leaflet-container{
     z-index: 0;
}

.ReactModal__Content{
     height: 500px;
     width: 50%;
     margin: 0 auto;
     margin-top: 100px;
     background-color: rgb(255, 255, 255);
}
/* .the-button:last-child{
     margin-left: 6px;
} */